- shell:
    - description: Create a sudo context
      command: 'sudo ls /dev/null'
      quiet: true
      stdin: true
    - description: Installing Homebrew
      command: 'which -s brew || NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"'
      quiet: true
      stdin: true
