- clean:
    - '~/.tmux'
    - '~/.tmux.conf'
- link:
    ~/.tmux: terminals/tmux
    ~/.tmux.conf: terminals/tmux/tmux.conf
- shell:
    - description: Installing Tmux plugins
      command: ~/.tmux/plugins/tpm/bin/install_plugins
      quiet: false
      stdout: true
      stderr: true
