[submodule "modules/oh-my-zsh/files/custom/plugins/zsh-syntax-highlighting"]
	path = modules/oh-my-zsh/files/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/oh-my-zsh/files/custom/plugins/zsh-completions"]
	path = modules/oh-my-zsh/files/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "modules/oh-my-zsh/files/custom/plugins/zsh-autosuggestions"]
	path = modules/oh-my-zsh/files/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "modules/oh-my-zsh/files/custom/themes/powerlevel9k"]
	path = modules/oh-my-zsh/files/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "modules/tmux/files/plugins/tpm"]
	path = modules/tmux/files/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "modules/oh-my-zsh/files/custom/themes/powerlevel10k"]
	path = modules/oh-my-zsh/files/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "modules/ghostty/files/themes/catppuccin"]
	path = modules/ghostty/files/themes/catppuccin
	url = https://github.com/catppuccin/ghostty.git
[submodule "vendor/etch"]
	path = vendor/etch
	url = https://github.com/rm-industries/etch.git
