[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "meta/dotbot-vscode"]
	path = meta/dotbot-vscode
	url = https://github.com/hujianxin/dotbot-vscode.git
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-hightlighting"]
	path = shells/zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = shells/zsh/oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = shells/zsh/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "oh-my-zsh/custom/themes/powerlevel9k"]
	path = shells/zsh/oh-my-zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "vim/bundle/Vundle.vim"]
	path = editors/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "base16-iterm2"]
	path = terminals/base16-iterm2
	url = https://github.com/martinlindhe/base16-iterm2.git
[submodule "terminals/tmux/plugins/tpm"]
	path = terminals/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "shells/zsh/oh-my-zsh/custom/themes/powerlevel10k"]
	path = shells/zsh/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "shells/bash/bash-it/custom/plugins/base16-shell"]
	path = shells/bash/bash-it/custom/plugins/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "meta/dotbot-brew"]
	path = meta/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "terminals/ghostty/themes/catppuccin"]
	path = terminals/ghostty/themes/catppuccin
	url = https://github.com/catppuccin/ghostty.git
[submodule "editors/vim/pack/catppuccin/start/catppuccin"]
	path = editors/vim/pack/catppuccin/start/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule "editors/vim/pack/vim-airline/start/vim-airline"]
	path = editors/vim/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "editors/vim/pack/tpope/start/fugitive"]
	path = editors/vim/pack/tpope/start/fugitive
	url = https://tpope.io/vim/fugitive.git
